body {
<<<<<<< HEAD
	background: linear-gradient(-45deg,#fc00ff, #00dbde, white);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 90vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.nav {
  background-color: transparent;
=======
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav {
  background-color: white;
>>>>>>> 551c442cefeac672a7f8ce0cd10eaf9abeb038e8
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 0%;
}

.nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 21px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
<<<<<<< HEAD
  height: 75vh;
=======
  height: 80vh;
>>>>>>> 551c442cefeac672a7f8ce0cd10eaf9abeb038e8
  padding-left: 65px;
}

.image {
<<<<<<< HEAD
  border: 5px solid black; 
=======
  border: 5px solid white; 
>>>>>>> 551c442cefeac672a7f8ce0cd10eaf9abeb038e8
}

.aboutme {
  background-color: white;
  overflow: hidden;
  position: fixed;
  width: 40%;
<<<<<<< HEAD
  top: 69%;
=======
  top: 70%;
>>>>>>> 551c442cefeac672a7f8ce0cd10eaf9abeb038e8
  height: auto;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD
  left: 5.5%;
  border: 5px solid black;
}

.aboutproject {
  background-color: white;
  overflow: hidden;
  position: fixed;
  width:39%;
  top: 13.3%;
  height: auto;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  left: 50%;
  border: 5px solid black;
}

.wasisliter {
  color: white;
  overflow: hidden;
  position: fixed;
  width: 39%;
  top: 5%;
  height: auto;
  text-decoration: none;
  font-size: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  left: 31%;
=======
  left: 5%;
>>>>>>> 551c442cefeac672a7f8ce0cd10eaf9abeb038e8
}
